.sidebar {
    flex: 2;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    position: sticky;
    top: 60px;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(190, 186, 186)
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.fa-solid {
    margin-left: 15px;
}

.sidebarListItemText {
    margin-left: 15px;
}

.sidebarButton {
    width: 150px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.sidebarHr {
    margin: 20px 0px;
}

.sidebarFriendList {
    margin: 0;
    padding: 0;
    list-style: none;
}

